
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form method="POST" action="/Species/Add">
    <div><label>Name: </label><span><input type="text" id="SpeciesName" name="SpeciesName" /></span></div>

    <input type="submit" value="Add new Species" />


</form>

